OPENAI_API_KEY="e"
DEEPSEEK_API_KEY="sk-5d6f9576799c45629114c3fff32e7539"

ZHIPU_API_KEY=""
ZHIPU_BASE_URL="https://open.bigmodel.cn/api/paas/v4/"

ALIBABA_API_KEY=""
ALIBABA_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

K2_API_KEY=""
K2_BASE_URL="https://api.moonshot.cn/v1"

MINIMAX_API_KEY=""
MINIMAX_BASE_URL="https://api.minimaxi.com/v1"


POSTGRES_URI="postgresql://postgres:123123@localhost:5432/postgres"
LANGSMITH_API_KEY=""